@using Microsoft.AspNetCore.Components.Web
@namespace CataPalavra.BlazorServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="CataPalavra.BlazorServer.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />    
</head>
<body>
    <header class="d-flex justify-content-center py-2 bg-dark text-white">
        <ul class="nav nav-pills">
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>            
            <li><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>            
    </header>
    <div>
        <main role="main">
            <div class="bg-dark text-secondary px-4 py-5 text-center">                
                <h1 class="display-5 fw-bold text-white">Cata Palavra</h1>
                <p class="fs-5 mb-4">Encontre palavras através de um filtro simples.</p>
                <div class="col-lg-6 mx-auto m-h-700">
                    @RenderBody()                    
                </div>
            </div>
        </main>
    </div>
    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
